body {
  font-family: 'Open Sans', sans-serif;
  color: white;
  margin: 0;
}

fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

main {
  height: 100%;
  width: 100%;
}

.globe {
  position: relative;
}

.invisible {
  display: none;
}

.fa-search {
  margin: 8px 10px 0 10px;
}

.search-bar {
  width: 300px;
  display: flex;
  background-color: rgb(100,100,100, 0.9);
  border-bottom: 1px solid black;
}

#countries-list, #products-list {
  list-style: none;
  height: 594px;
  width: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 0;
  margin: 0;
}

#countries-list li, #products-list li {
  background-color: rgba(100,100,100,0.7);
  box-sizing: border-box;
  border-bottom: 1px solid black;
  padding: 5px 0 5px 5px;
  width: 100%;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap; 
  text-overflow: ellipsis;
}

input::placeholder { color: #aaa; }

.element::-webkit-scrollbar { width: 0 !important }
.element { overflow: -moz-scrollbars-none; }
.element { -ms-overflow-style: none; }

::-webkit-scrollbar { 
  width: 0px;
  background: transparent;
}

#product-input, #country-input {
  box-sizing: content-box;
  padding: 5px 0 5px 0px;
  font-size: 16px;
  width: calc(100%-36px);
  color: inherit;
  font-family: 'Open Sans', sans-serif;
  background-color: transparent;
  border: none;
  outline: none;
  margin: 0;
  width: 100%;
}

.product-div {
  margin-left: 20px;
}

.range-div {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.range {
  position: fixed;
  bottom: 0;
  left: 17%;
  width: 65%;
  padding: 0 10px 5px 10px;
  margin: 0 auto;
  background-color: rgb(100,100,100,0.8);
}

.year-range {
  width: 98.6%;
  display: block;
  margin: 0 auto;
  height: 30px;
  background-color: transparent;
}

.year-range:focus { 
  background: none;
  outline: none;
}

#years-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}
  
#years-list li{
  cursor: pointer;
}  
  
.active {
  color: #7deeff;
}

.search-bars {
  position: fixed;
  top: 30px;
  right: 30px;
  display: flex;
}

#export-bar {
  background: linear-gradient(#ff7b53, #ff1515);
}

#import-bar {
  background: linear-gradient(#7deeff, #0015ff);
}

#export-bar, #import-bar {
  width: 20px;
}

.bar-chart {
  position: fixed;
  bottom: 10px;
  left: 4%;
  width: 155px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.import-key {
  color: #7deeff;
}

.export-key {
  color: #ff7b53;
}

.export-data {
  display: flex; 
  flex-direction: column; 
  align-items: flex-end;
}

#import-text, #export-text {
  font-size: 18px;
}

.title {
  position: fixed;
  top: 0;
  left: 5.5%;
  font-size: 65px;
  margin: 0;
}

.glow {
  color: #fff;
  text-align: center;
  -webkit-animation: glow 2s ease-in-out infinite alternate;
  -moz-animation: glow 2s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #ddd, 0 0 10px #ddd, 0 0 15px #ddd, 0 0 20px #ddd, 0 0 25px #ddd, 0 0 30px #ddd, 0 0 35px #ddd;
  }
  to {
    text-shadow: 0 0 15px #ccc, 0 0 15px #ccc, 0 0 20px #ccc, 0 0 25px #ccc, 0 0 30px #ccc, 0 0 35px #ccc, 0 0 40px #ccc;
  }
}

.loader,
.loader:before,
.loader:after {
  background: #ffffff;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  color: #ffffff;
  text-indent: -9999em;
  z-index: 30;
  position: absolute;
  left: 50%;
  top: 47%;
  font-size: 20px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

.links {
  position: fixed;
  right: 3%;
  bottom: 1.5%;
  width: 170px;
  display: flex;
  justify-content: space-between;
}

.fa-github, .fa-linkedin, .fa-angellist {
  font-size: 50px;
  color: rgba(255,255,255, 0.8);
  transition: color .2s ease-in-out;
}

.fa-github:hover, .fa-linkedin:hover, .fa-angellist:hover {
  color: rgba(100,100,100,0.8);
}