#intro.fade-away {
  opacity: 0 !important;
  z-index: -10 !important;
  transition: opacity 1.5s ease;
}

#intro {
  width: 100%;
  height: 100%;
  z-index: 10;
  background: rgba(25, 25, 25, 0.9);
  position: absolute;
  color: #FFF;
}

#intro div {
  margin: 0 auto;
  box-sizing: border-box;
  width: inherit;
  text-align: center;
}

#intro .welcome {
  margin-top: 100px;
  font-size: 28px;
  opacity: 0.5;
  line-height: 50px;
  animation: welcome 3s ease;
}

@keyframes welcome {
  from {
    font-size: 50px;
    transform: translateY(60px);
    opacity: 0;
  }

  40% {
    font-size: 50px;
    opacity: 1;
    transform: translateY(60px);
  }
}

#intro .global {
  font-size: 80px;
  line-height: 80px;
  opacity: 1;
  animation: global 5s ease;
}

@keyframes global {
  from {
    opacity: 0;
  }

  35% {
    opacity: 0;
  }
}

#intro div.description {
  width: 485px;
  opacity: 1;
  color: #ccc !important;
  animation: global 8s ease;
}

#intro .about {
  margin-bottom: 30px;
}

#intro .description .instructions ul {
  margin: 0;
}

#intro .description .instructions li, #intro .description .instructions div {
  text-align: left;
}
